<!-- Columns -->
<div class="row">
  <!-- Dashboard -->
  <%= render 'admin_panel' %>

  <!-- Body Content -->
  <div class="col-sm-9">
    <h3 class="item-title">Welcome to your Administrator Account, <%= @user.email %>.</h3>
    <p>Here you have complete control of the Canadian Poncho Portal. Feel free to manage the application through the menu on the left.</p>

    <!-- Widgets -->
    <div class="row">
      <!-- Approval Feed -->
      <div class="col-sm-12">
        <div class="admin-widget">
          <h1 class="widget">Records Waiting for Approval</h1>
          <table class="table">
            <tr>
              <th>Make</th>
              <th>Model</th>
              <th>Year</th>
              <th>User</th>
              <th>View</th>
            </tr>
            <%= render partial: 'registry_requests/index', collection: @registry_requests, as: :request %>
          </table>
        </div>
        <%= link_to "View All", registry_requests_path, class: "item-more" %>
      </div>
    </div>
  </div>
</div>
