<!-- Dashboard -->
  <div class="col-sm-3">
    <h3 class="body-title">Dashboard</h3>
    <!-- Blog Menu -->
    <h3 class="item-title">Blog</h3>
    <ul class="side-menu">
      <li><a href="#">Create</a></li>
      <li><a href="#">Manage</a></li>
    </ul>
    <!-- Registry Menu -->
    <h3 class="item-title">Registry</h3>
    <ul class="side-menu">
      <li><%= link_to "Approvals", registry_requests_path %></li>
      <li><a href="#">Manage</a></li>
    </ul>
    <!-- User Menu -->
    <h3 class="item-title">Users</h3>
    <ul class="side-menu">
      <li><a href="#">Moderators</a></li>
      <li><a href="#">Members</a></li>
    </ul>
  </div>