<!-- Columns -->
<div class="row">
  <!-- Dashboard -->
  <%= render 'admin_panel' %>

  <!-- Body Content -->
  <div class="col-sm-9">
    <h3 class="body-title">Welcome to your Administrator Account, <%= @user.email %>.</h3>
    <p>Here you have complete control of the Canadian Poncho Portal. Feel free to manage the application through the menu on the left.</p>

    <!-- Widgets -->
    <div class="row">
      <!-- Approval Feed -->
      <div class="col-sm-6">
        <div class="admin-widget">
          <h1 class="widget">Records Waiting for Approval</h1>
          <table class="table">
            <tr>
              <th>Vehicle</th>
              <th>User</th>
              <th>View</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
          </table>
        </div>
        <a class="admin-widget-link" href="blog_manage.html">View All</a>
      </div>
      <!-- Blog Feed -->
      <div class="col-sm-6">
        <div class="admin-widget">
          <h1 class="widget">Recent Blog Posts</h1>
          <table class="table">
            <tr>
              <th>Title</th>
              <th>User</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </table>
        </div>
        <a class="admin-widget-link" href="blog_create.html">Create Post</a>
      </div>
      <!-- Current Moderators -->
      <div class="col-sm-6">
        <div class="admin-widget">
          <h1 class="widget">Current Moderators</h1>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>User</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </table>
        </div>
        <a class="admin-widget-link" href="#">Manage Moderators</a>
      </div>
    </div>
  </div>
</div>