<section class="filter">
  <h2 class="dash-heading">User Panel</h2>
  <span class="toggleNav" data-target-id="dash-nav"><i class="fa fa-check-square-o"></i> Dashboard</span>

  <nav id="dash-nav" class="flex-nav">
    <ul>
      <li><%= link_to "Dashboard", current_user %></li>
      <li><%= link_to "Add Vehicle to Registry", new_vehicle_path %></li>
      <li><%= link_to "Edit my account", edit_user_registration_path %></li>
    </ul>
  </nav>
</section>
