<% if current_user.role == 'admin' %>

<!-- Columns -->
<div class="row">
  <div class="col-sm-3">
    <h3 class="body-title">Dashboard</h3>
    <!-- Blog Menu -->
    <h3 class="body-title">Blog</h3>
    <ul class="side-menu">
      <li><a href="#">Create</a></li>
      <li><a href="#">Manage</a></li>
    </ul>
    <!-- Registry Menu -->
    <h3 class="body-title">Registry</h3>
    <ul class="side-menu">
      <li><a href="#">Approvals</a></li>
      <li><a href="#">Manage</a></li>
    </ul>
    <!-- User Menu -->
    <h3 class="body-title">Users</h3>
    <ul class="side-menu">
      <li><a href="#">Moderators</a></li>
      <li><a href="#">Members</a></li>
    </ul>
  </div>

  <!-- Body Content -->
  <div class="col-sm-9">
    <h3 class="body-title">Welcome to your Administrator Account, <%= @user.email %>.</h3>
    <p>Here you have complete control of the Canadian Poncho Portal. Feel free to manage the application through the menu on the left.</p>

    <!-- Widgets -->
    <div class="row">
      <!-- Approval Feed -->
      <div class="col-sm-6">
        <div class="admin-widget">
          <h1 class="widget">Records Waiting for Approval</h1>
          <table class="table">
            <tr>
              <th>Vehicle</th>
              <th>User</th>
              <th>View</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>1966 Grande Parisienne</td>
              <td>Timbuk</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
          </table>
        </div>
        <a class="admin-widget-link" href="blog_manage.html">View All</a>
      </div>
      <!-- Blog Feed -->
      <div class="col-sm-6">
        <div class="admin-widget">
          <h1 class="widget">Recent Blog Posts</h1>
          <table class="table">
            <tr>
              <th>Title</th>
              <th>User</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>New Website!</td>
              <td>Jonathan</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </table>
        </div>
        <a class="admin-widget-link" href="blog_create.html">Create Post</a>
      </div>
      <!-- Current Moderators -->
      <div class="col-sm-6">
        <div class="admin-widget">
          <h1 class="widget">Current Moderators</h1>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>User</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>Carl Stevenson</td>
              <td>CarlS</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </table>
        </div>
        <a class="admin-widget-link" href="#">Manage Moderators</a>
      </div>
    </div>
  </div>
</div>

<% else %>

<!-- Columns -->
<div class="row">
  <!-- Dashboard -->
  <div class="col-sm-3">
    <h3 class="item-title">User Panel</h3>
    <ul class="side-menu">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Add Vehicle to Registry</a></li>
      <li><a href="#">Edit My Account</a></li>
    </ul>
  </div>
  <!-- Body -->
  <div class="col-sm-8">
    <h3 class="body-title">Welcome to your Account, <%= @user.name %>.</h3>
    <p>Here you have access to do certain things, such as <a href="#">submit</a> your vehicle to the Canadian Poncho Registry. Please view the menu on the left for your available options.</p>

    <h3 class="item-title">Vehicles Pending Registry Approval</h3>
    <ul>
      <li><p>1966 Grande Parisienne</p></li>
    </ul>

    <h3 class="item-title">Current Registry Vehicles</h3>
    <ul>
      <li><p><a href="vehicle_show.html">1966 GTO</a> | <a href="vehicle_edit.html">Edit Vehicle</a></p></li>
    </ul>
  </div>
</div>
<% end %>