<div id="devise">
  <h1 class="dashboard-title">About Canadian Poncho</h1>
  <p>Canadian Poncho was formed January 13 2008 by Todd St Clair who was restoring his 69 Laurentian and was struggling to find parts and information about it. He created a website in hopes of attracting people with a similar struggle. To his amazement, not only did a few people sign up but thousands of people joined. The site has connected individuals world wide who have bought and sold parts and cars as well as exchanged invaluable information about these unique vehicles. Canadian Poncho is recognized as the premiere site dedicated to preserving Canadian Pontiacs.</p>
</div>
