<!-- Dashboard -->
<% if current_user.role == 'admin' %>
    <%= render partial: 'users/admin_panel' %>
<% else %>
    <%= render partial: 'users/member_panel' %>
<% end %>

<div class="col-sm-9">
  <h3 class="item-title">Edit Vehicle</h3>
  <%= render partial: 'form', locals: {vehicle: @vehicle, s3_direct_post: @s3_direct_post} %>
</div>
