<div id="secondary-wrapper">

  <div id="dash-menu">
    <% if current_user.role == 'admin' %>
        <%= render partial: 'users/admin_panel' %>
    <% else %>
        <%= render partial: 'users/member_panel' %>
    <% end %>
  </div>

  <div id="dash-content">
    <h3 class="dashboard-title">Edit Vehicle</h3>
    <%= render partial: 'form', locals: {vehicle: @vehicle, s3_direct_post: @s3_direct_post} %>
  </div>

</div>
