<% if current_user.role == 'admin' %>
    <%= render partial: 'users/admin_panel' %>
<% else %>
    <%= render partial: 'users/member_panel' %>
<% end %>

<div class="col-md-9">
  <h3 class="item-title">Add Vehicle to Registry</h3>

  <p>Please follow our guidelines in the example placeholders to ensure that your vehicle is approved for the
    registry.</p>

  <%= render partial: 'form', locals: {vehicle: @vehicle, s3_direct_post: @s3_direct_post} %>
</div>
