<div id="secondary-wrapper">

  <div id="dash-menu">
    <% if current_user.role == 'admin' %>
      <%= render partial: 'users/admin_panel' %>
    <% else %>
      <%= render partial: 'users/member_panel' %>
    <% end %>
  </div>

  <div id="dash-content">
    <h3 class="dashboard-title">Edit Vehicle</h3>
    <dl class="resub-notes">
      <dt>Notes:</dt>
      <dd><%= create_list(@vehicle.vehicle_request_notes) %></dd>
    </dl>
    <%= render partial: 'form', locals: {vehicle: @vehicle, s3_direct_post: @s3_direct_post, action: 'resubmit'} %>
  </div>

</div>
