/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Some CSS Setup - nothing to do with flexbox */
html 	 							 { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body 								 { font-family: 'Source Sans Pro', sans-serif; font-size: 1.5em; font-weight: 100; margin: 0; }
footer 							 { padding: .75em .5em; }
hr                   { height: 0; border: 0; border-top: 1px solid #eeeeee; }

/* IDS */
#brand { width: 33px; height: 65px; }
#primary-content { margin-top: .5em; }

/* ANCHORS */
.flex-header a,
.filter a 				{ text-transform: uppercase; text-decoration: none; text-align: center; font-size: .75em;
                    color: #337ad1; border-bottom: 1px solid #e0e0e0; padding: .75em .25em; display: inline-block; width: 100%; }

.flex-header a 		{ border-bottom: 1px solid #ccc; }
.flex-nav.open a  { background: white; }
a.details 				{ text-decoration: none; text-transform: uppercase; text-align: right; font-size: .75em;
                    background: black; color: white; display: block; padding: .5em .25em; }

.content div h2 a { text-decoration: none; color: white; }

.edit             { text-decoration: none; text-transform: uppercase; background: #188934; color: white;
                    display: block; padding: .25em .75em; margin-bottom: .5em; }

.filter 					{ margin-bottom: .5em; }

/* FLEX CONTAINER */
#flex-thumbnails { display: flex; flex-wrap: wrap; }
.flex-header     { background: #f5f5f5; flex-direction: column; display: flex; }
.toggleNav 	     { display: block; }
.flex-nav ul     { display: none; }

/* FLEX ITEMS */
.thumbnail        { flex-basis: 33.333333%; padding: .3em; }
.thumbnail:nth-child(3n+1) { padding-left: 0; }
.thumbnail:nth-child(3n+3) { padding-right: 0; }

.flex-nav.open ul { display: flex; flex-direction: column; }
.flex-nav.open h1 { display: block; }

/* DIV */
section div { margin-bottom: .5em; }

/* H1-H6 */
.flex-header h1     { text-align: center; padding: .25em; }
.flex-nav h1        { display: none; }
.filter h1          { border-bottom: 1px solid #ececec; text-align: center; background: #eee; color: #9e9e9e; padding: .75em 0; }
.content div h2,
#primary-content h2,
.dashboard-title    { background: red; padding: .75em; margin-bottom: .5em; text-transform: uppercase; color: white; }
#dash-menu h2       { display: none; }
.specifications,
.vehicle-state,
.request-widget     { text-transform: uppercase; text-align: center; display: block; background: #f5f5f5; padding: .75em; margin: .5em 0 1em 0; }

/* List */
dl dt { text-transform: uppercase; font-weight: normal; color: black; text-align: center; margin-bottom: 1em; }
dl dd { margin-bottom: 1em; text-align: center; }

/* PARAGRAPHS */
#primary-content p,
#dash-content p    { padding: .25em .75em; }
section div p      { font-size: .75em; text-transform: uppercase; padding: .75em .25em; }
footer p 			     { font-size: .75em;}

/* IMAGES */
img            { width: 100%; }
.primary-image { margin-bottom: .35em; }

@media all and (min-width: 736px) {

	/* IDS */
	#primary-wrapper  { width: 90%; margin: auto; padding: 1.5em 0; }
	#menu 						{ flex: auto; }
	.bg 							{ background: #f5f5f5; border-bottom: 1px solid rgba(204, 204, 204, 0.16); width: 100%; margin-bottom: 2.5em; }

  /* FLEX CONTAINERS */
  #secondary-wrapper { display: flex; width: 90%; margin: auto; }
  .flex-header 			 { justify-content: flex-start; flex-direction: row; }
	a.toggleNav 			 { display: none; }

  /* FLEX ITEMS */
  #primary-content,
  #dash-content              { flex-basis: 75%; margin-right: 1em; margin-top: 0; }
  #secondary-content,
  #dash-menu                 { flex-basis: 25%; }
	.flex-header a:hover       { color: white; background: red; }
  .flex-nav ul 				       { display: flex; margin-right: .5em; justify-content: flex-end; }
  .filter 						       { flex-basis: 15%; min-width: 125px; margin-right: .5em; }
  .filter .flex-nav ul       { flex-direction: column; }
  .content 						       { flex-basis: 85%; display: flex; flex-wrap: wrap; }
  .content div 				       { flex-basis: 50%; padding: 0 .5em; margin-bottom: 1em; }
  .thumbnail                 { flex-basis: 25%; padding: .5em;  }
  .thumbnail:nth-child(3n+1) { padding-left: .5em; }
  .thumbnail:nth-child(3n+3) { padding-right: .5em; }
  .thumbnail:nth-child(4n+1) { padding-left: 0; }
  .thumbnail:nth-child(4n+4) { padding-right: 0; }

  /* ANCHORS */
  .flex-header a 		{ margin-left: 1em; color: #89181f; text-transform: uppercase; font-size: .75em; padding: 0; border: 0; }
  .filter a 				{ border-bottom: 0; }
	.filter li a 			{ text-align: left; padding: .75em 0; text-transform: none; }
	.content div h2 a { color: #337ab7; }
	a.details 				{ font-size: .75em; background: #89181f; display: inline-block; padding: .5em; }

  .edit             { display: inline-block; margin-bottom: 1em; }

  /* H1-H6 */
  .flex-nav h1 		    { text-transform: uppercase; display: block; background: white; color: black; }
	.filter h1 			    { border: 0; text-align: left; }
  .content div h2,
  #primary-content h2 { border: 2px solid red; background: white; padding: .5em; margin-bottom: 1em; color: #337ab7; }
  #dash-menu h2       { display: block; }
  .specifications     { text-align: left; background: none; border-top: 2px black solid; color: black; padding: .5em 0; margin: 0 0 1em 0; }

  /* List */
  dl dt,
  dl dd { font-size: .75em; }
  dl dt { text-align: left; margin-bottom: 1em; }
  dl dd { text-align: left; }

  /* PARAGRAPHS */
  section div p { font-size: .75em; text-transform: uppercase; padding: 0; margin: 1em 0; color: #454545; }

}
